.messages-list {
    position: absolute;
    top: 0;
    /* background-color: black; */
    width: inherit;
    height: 90%;
}

.user-message {

}

.ai-message {

}

.control {
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    width: inherit;
    height: 10%;
}

.message-form {
    
}

.message-input {

}
