.messages-list {
    position: absolute;
    top: 63px;
    width: 100%;
    height: calc(90% - 63px);
    padding: 0;
    overflow-y: scroll;
}

.message {
    max-width: 80%;
    width: fit-content;
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    text-align: left;
    clear: both;
    word-wrap: break-all;
    white-space: pre-line;
}

.user-message {
    background-color: var(--color-info-400);
    color: #ffffff;
    float: right;
}

.ai-message {
    background-color: #ffffff;
    float: left;
}

.control {
    position: absolute;
    bottom: 0;
    width: inherit;
    /* height: 10%; */
}

.message-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-primary-500);
    padding: 10px;
}

.message-input {
    width: 95%;
    padding: 10px 20px;
    border-radius: 20px;
}

.send-button {
    height: inherit;
    padding: 10px;
    margin-left: 10px;
    background-color: var(--color-primary-600);
    border-radius: 9999px;
    color: #ffffff;
    border: #ffffff 1px solid;
}

.send-button:disabled {
    --tw-grayscale: grayscale(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    background-color: var(--color-primary-100);
    border-radius: 9999px;
    color: var(--color-primary-300);
    border: var(--color-primary-300) 1px solid;
}

.message-input {
    resize: vertical;
}

@media (min-width: 1024px) {
    .messages-list {
        width: calc(100% - 400px);
        padding: 0 2em 0 2em;
    }
    .message {
        max-width: 60%;
    }

    .message-form {
        margin: 10px;
        border-radius: 10px;
    }
}