* {
    transition-duration: 0.8s;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

.introduce {
    font-family: 'JalnanGothic', sans-serif;
}

.introduce-detail {
    font-family: 'Noto Sans KR', sans-serif;
}

.info-graphic {
    background-image: url('../../assets/images/MainGraphic.jpg');
    background-position: center;
    background-size: cover;
}