@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
    font-family: 'Noto Sans KR', sans-serif;
}

.section {
    font-family: 'Noto Sans KR', sans-serif;
}

.introduce {
    font-family: 'JalnanGothic', sans-serif;
}

.info-graphic {
    background-image: url('../../assets/images/MainGraphic.jpg');
    background-position: center;
    background-size: cover;
}

@keyframes pulse {
    50% {
        opacity: .6;
    }
}
.ani-pulse {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}