.sidebar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s ease;
    color: #202020;
    height: 100%;
    z-index: -1;
}

.content {
    padding: 3em 40px 0 3em;
    position: relative;
    width: 100%;
}
