@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: #DCE8FE;
  --color-primary-200: #BAD0FE;
  --color-primary-300: #97B6FE;
  --color-primary-400: #7DA0FD;
  --color-primary-500: #537DFC;
  --color-primary-600: #3C5FD8;
  --color-primary-700: #2945B5;
  --color-primary-800: #1A2E92;
  --color-primary-900: #0F1F78;
  --color-success-100: #EAFCD5;
  --color-success-200: #D1F9AD;
  --color-success-300: #AEEE81;
  --color-success-400: #8ADE5F;
  --color-success-500: #59C930;
  --color-success-600: #3EAC23;
  --color-success-700: #279018;
  --color-success-800: #15740F;
  --color-success-900: #09600A;
  --color-info-100: #D0FEF2;
  --color-info-200: #A2FDED;
  --color-info-300: #73FBED;
  --color-info-400: #50F7F4;
  --color-info-500: #18E3F2;
  --color-info-600: #11B3D0;
  --color-info-700: #0C88AE;
  --color-info-800: #07628C;
  --color-info-900: #044774;
  --color-warning-100: #FEF6D7;
  --color-warning-200: #FEEBB0;
  --color-warning-300: #FDDD89;
  --color-warning-400: #FBCE6B;
  --color-warning-500: #F9B73B;
  --color-warning-600: #D6942B;
  --color-warning-700: #B3741D;
  --color-warning-800: #905712;
  --color-warning-900: #77420B;
  --color-danger-100: #FFE6D6;
  --color-danger-200: #FFC6AD;
  --color-danger-300: #FFA083;
  --color-danger-400: #FF7C65;
  --color-danger-500: #FF4032;
  --color-danger-600: #DB2427;
  --color-danger-700: #B71928;
  --color-danger-800: #930F27;
  --color-danger-900: #7A0927;
}

.page {
  /* padding: 1.25rem; */
  padding-top: 63px; /* 상단 header의 height */
  width: calc(100%);
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .page {
    width: calc(100% - 320px);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
